@import url('../css/fonts.css');

body{
  padding: 0px;
  margin: 0px;
  background: #efefef;
  /*background: #fff;*/
  box-sizing: border-box;
  font-family: Raleway;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:active, *:focus{
  outline: none;
}

a{
  text-decoration: none;
}

.header{
  height: 100vh;
  min-height: 500px;
  /*min-height: 100vh;*/
  width: 100%;
  overflow: hidden;
  background: url('bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar{
  display: inline-block;
  height: 50px;
  padding-top: 10px;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  font-family: RalewaySemiBold;
}

.navbar img{
  width: 44px;
}

.nav-item{
  margin: 5px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.nav-item-left{
  float: left;
}
.nav-item-right{
  float: right;
}

.sign-up-login{
  padding-right: 10px;
}

.sign-up-login *{
  padding: 0 5px;
}
.searchbar{
  position: relative;
  height: 60px;
  width: 100%;
  line-height: 60px;
  overflow: hidden;
  margin-top: 20px;
  padding: 0 20px;
  transition: all 0.4s cubic-bezier(.17,.67,.17,.88);
}

.searchbar--nav{
  margin: 0px;
  padding: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9;
  background: rgba(255,255,255,0.8);
}

.searchbar--nav .catbox, .searchbar--nav .dropdown-catbox{
  margin-right: 50px;
}

.searchbox{
  float: left;
  background: rgba(255,255,255,0.4);
  height: 100%;
  width: 200px;
  color: #555;
  transition: 0.4s all;
}

.searchbox--active{
  background: #fff;
  width: 80%;
}

.searchbox-icon{
  float: left;
  width: 44px;
  overflow: hidden;
  text-align: center;
}

.searchbox input{
  float: left;
  width: calc(100% - 44px);
  height: 100%;
  overflow: hidden;
  border: none;
  background: none;
  font-size: 1.1em;
  font-family: RalewayLight;
  padding-left: 10px;
}

.searchbox input::-webkit-input-placeholder{
  color: #555;
}

.searchbox--active{
  background: #fff;
}

.search-item{
  display: block;
}

.catbox{
  position: relative;
  height: 100%;
  background: rgba(255,255,255,0.9);
  overflow: hidden;
  text-align: left;
}

.cat{
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.cat-underline{
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 10px;
  width: 70px;
  background: #0097A7;
  transition:  left 0.4s cubic-bezier(.17,.67,.17,.88),
    width 0.4s cubic-bezier(.17,.67,.17,.88);
}

.dropdown-catbox{
  position: relative;
  height: 100%;
  background: rgba(255,255,255,0.9);
  overflow: hidden;
  text-align: left;
}

.drop-cat-title{
  text-align: center;
  min-width: 22px;
  transition:  all 0.4s cubic-bezier(.17,.67,.17,.88);
  /*cursor: pointer;*/
}
.drop-cat-title:hover{
  color: #0097A7;
}
.dropdown-catbox--active .drop-cat-title{
  transform: rotateZ(180deg);
}

.dropdown-catbox--active .drop-cat-list{
  /*opacity: 1;*/
  transform: scaleY(1);
  z-index: 12;
}

.drop-cat-list{
  position: fixed;
  background: #fff;
  transform-origin: top;
  transform: scaleY(0);
  /*opacity: 0;*/
  transition:  transform 0.1s cubic-bezier(.17,.67,.17,.88);
}


.drop-cat{
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  border-left:4px solid transparent;
}

.drop-cat:hover{
  border-color:#0097A7;
}

.drop-cat--active{
  border-color:#0097A7;
}


.description{
  font-size: 2em;
  color: #fff;
  padding: 10%;
  text-shadow: 2px 2px rgba(0,0,0,0.1);
  text-align: center;
}

.button{
  text-shadow: none;
  color: #0097A7;
  background: #fff;
  padding: 15px 12px;
  border-radius: 0px;
  font-size: 0.8em;
  text-transform: uppercase;
  transition: cubic-bezier(.17,.67,.17,.88) all 0.4s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu{
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 100%;
  overflow: hidden;
  height: 0px;
  z-index: 10;
  text-align: left;
  transition: all 0.3s cubic-bezier(.17,.67,.17,.88);
}

.menu--active{
  height: 100vh;
}

.menu__title{
  margin: 10px 20px;
  font-size: 2em;
}

.menu__item{
  cursor: pointer;
  padding: 15px 20px;
  font-size: 1.3em;
  cursor: pointer;
}

.menu__item:hover{
  color: #0097A7;
}

.menu__blank{
  height: 20px;
}

/*phones*/
@media (max-width:767px) {
  .sign-up-login{
    display: none;
  }
  
  .searchbox--active{
    background: #fff;
    width: 70%;
  }
  .hide-sm-down{
    display: none !important;
  }

  .hide-sm-up{
    display: inherit;
  }
}

/*tablet*/
@media (min-width:768px) and (max-width:991px) {
  .hide-sm-down{
    display: none !important;
  }

  .hide-sm-up{
    display: inherit;
  }
}

/*monitor*/
@media (min-width:992px) and (max-width:1199px) {
  .hide-sm-down{
    display: inherit;
  }

  .hide-sm-up{
    display: none !important;
  }
}

/*large monitor*/
@media (min-width:1200px) {
  .hide-sm-down{
    display: inherit;
  }

  .hide-sm-up{
    display: none !important;
  }
}
